# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Project specific
# Add any project-specific files or directories you want to ignore here